<div class="p-5">
  <div class="row mt-3">
    <div class="col-4 p-2">
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="assets/Images/studentLogo.jpg"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
              <p class="card-text">
                <small class="text-muted">Last updated 3 mins ago</small>
              </p>

              <div>
                <a href="#" class="card-link">Edit Details</a>
                <a href="#" class="card-link">Send Message</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 p-2">
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="assets/Images/studentLogo.jpg"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
              <p class="card-text">
                <small class="text-muted">Last updated 3 mins ago</small>
              </p>

              <div>
                <a href="#" class="card-link">Edit Details</a>
                <a href="#" class="card-link">Send Message</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 p-2">
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="assets/Images/studentLogo.jpg"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
              <p class="card-text">
                <small class="text-muted">Last updated 3 mins ago</small>
              </p>

              <div>
                <a href="#" class="card-link">Edit Details</a>
                <a href="#" class="card-link">Send Message</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-4 p-2">
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="assets/Images/studentLogo.jpg"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
              <p class="card-text">
                <small class="text-muted">Last updated 3 mins ago</small>
              </p>

              <div>
                <a href="#" class="card-link">Edit Details</a>
                <a href="#" class="card-link">Send Message</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 p-2">
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="assets/Images/studentLogo.jpg"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
              <p class="card-text">
                <small class="text-muted">Last updated 3 mins ago</small>
              </p>

              <div>
                <a href="#" class="card-link">Edit Details</a>
                <a href="#" class="card-link">Send Message</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 p-2">
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="assets/Images/studentLogo.jpg"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
              <p class="card-text">
                <small class="text-muted">Last updated 3 mins ago</small>
              </p>

              <div>
                <button
                  type="button"
                  (click)="modalService.open('modal-1')"
                  class="btn btn-link"
                >
                  Edit Details
                </button>
                <button
                  type="button"
                  (click)="modalService.open('modal-1')"
                  class="btn btn-link"
                >
                  Send Message
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<jw-modal id="modal-1">
  <h1>Write a Message to Send</h1>
  <p>
    You can send short message for your student:
    <input type="text" style="width: 100%" />
  </p>
  <button class="btn btn-secondary me-2" (click)="modalService.close()">
    Close
  </button>
  <button class="btn btn-dark me-2">Send</button>
</jw-modal>

<div class="toast-container position-static">
  <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="..." class="rounded me-2" alt="..." />
      <strong class="me-auto">Bootstrap</strong>
      <small class="text-muted">just now</small>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="toast"
        aria-label="Close"
      ></button>
    </div>
    <div class="toast-body">See? Just like this.</div>
  </div>
</div>
