<div class="p-5 m-5">
  <div class="row mt-3">
    <ng-container *ngIf="studentData.length>0 && studentDatafetched">
      <div class="col-4 p-2" *ngFor="let student of studentData;let i = index ">
        <div class="card mb-3" style="max-width: 540px">
          <div class="row g-0 justify-content-center align-items-center">
            <div class="col-md-4" *ngIf="student.gender==='Female'">
              <img src="assets/Images/studentLogo.jpg" class="img-fluid rounded-start" alt="..."
                style="height: 10rem" />
            </div>
            <div class="col-md-4" *ngIf="student.gender==='Male'">
              <img src=" assets/Images/adminLogo.jpg" class="img-fluid rounded-start" alt="..." style="height: 10rem" />
            </div>
            <div class="col-md-8">
              <div class="card-body pb-3">
                <h5 class="card-title">{{student.fullName}}</h5>
                <div>
                  <strong> Mobile No: </strong>
                </div>
                <div class="pb-2">
                  {{student.phoneNumber}}
                </div>

                <div>
                  <strong>Email:</strong>
                </div>
                <div class="pb-3">
                  {{student.email}}
                </div>

                <p class="card-text">
                  <small class="text-muted">Last updated {{getDays(student.lastModified)}} days ago</small>
                </p>

                <div>
                  <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal"
                    (click)="openModal(student.userId)">
                    Send Message
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="studentData.length===0 && studentDatafetched">
      <div class="col-4 p-2">
        No students found for this course
      </div>
    </ng-container>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Write a Message to Send</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <p class="p-2">
        You can send short message for your student:
        <input #messsage id="messageInput" type="text" style="width: 100%" />
      </p>
      <div class="modal-footer">
        <button class="btn btn-secondary me-2" id="closeModal" data-bs-dismiss="modal">Close</button>
        <button class="btn btn-dark me-2" (click)="sendMessage(messsage.value)">Send</button>
      </div>
    </div>
  </div>
</div>