<div class="p-5">

    <div class=" row m-5 justify-content-center align-items-center">
        <div class="card col-5 m-5">
            <img class=" card-img-top" src="assets/Images/mscit_tt.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Msc IT - Part 1</h5>
                <a href="#" class="card-link btn btn-success">Upload</a>
                <a href="#" class="card-link btn btn-warning">Download</a>
                <a href="#" class="card-link btn btn-danger">Delete</a>
            </div>
        </div>

        <div class="card col-5 m-5">
            <img class=" card-img-top" src="assets/Images/mscit_tt.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Msc IT - Part 1</h5>
                <a href="#" class="card-link btn btn-success">Upload</a>
                <a href="#" class="card-link btn btn-warning">Download</a>
                <a href="#" class="card-link btn btn-danger">Delete</a>
            </div>
        </div>
        <div class="card col-5 m-5">
            <img class=" card-img-top" src="assets/Images/mscit_tt.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Msc IT - Part 1</h5>
                <a href="#" class="card-link btn btn-success">Upload</a>
                <a href="#" class="card-link btn btn-warning">Download</a>
                <a href="#" class="card-link btn btn-danger">Delete</a>
            </div>
        </div>
        <div class="card col-5 m-5">
            <img class=" card-img-top" src="assets/Images/mscit_tt.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Msc IT - Part 1</h5>
                <a href="#" class="card-link btn btn-success">Upload</a>
                <a href="#" class="card-link btn btn-warning">Download</a>
                <a href="#" class="card-link btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>