<div class="p-5">
    <div class=" row m-5 justify-content-center align-items-center" *ngIf="courseData.length>0">
        <div class="card col-5 m-5"  *ngFor="let course of courseData;let i = index ">
	
            <img class=" card-img-top" src="assets/Images/mscit_tt.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{course.courseName}}</h5>
                <input hidden type="file" #ttupload (change)="fileChange($event,course.courseName)">
                <button class="card-link btn btn-success" (click)="ttupload.click()">Upload</button>
                <button class="card-link btn btn-warning"  (click)="downloadButtonClicked(course.courseName)">Download</button>
                <button class="card-link btn btn-danger" (click)="deleteButtonClicked(course.courseName)">Delete</button>

            </div>

        </div>

      
    </div>
</div>