<div class="p-5">
  <div class="row mt-3 justify-content-center">

    <div class="col-8 offset-2 p-2">
      <div class="row">
        <div class="col-6 p-2 mb-4">
          <div class="card text-center" style="width: 18rem">
            <div class="card-body">
              <h5 class="card-title">User Details</h5>
              <p class="card-text">
                View User Details and send them important messages one-on-one.
              </p>
              <a href="#" class="btn btn-primary">Proceed</a>
            </div>
          </div>
        </div>

        <div class="col-6 p-2 mb-4">
          <div class="card text-center" style="width: 18rem">
            <div class="card-body">
              <h5 class="card-title">Upload Timetable</h5>
              <p class="card-text">
                Upload Timetable based on courses.
              </p>
              <a href="#" class="btn btn-primary">Proceed</a>
            </div>
          </div>
        </div>


        <div class="col-6 p-2 mb-4">
          <div class="card text-center" style="width: 18rem">
            <div class="card-body">
              <h5 class="card-title">Upload Study Materials</h5>
              <p class="card-text">
                Upload relevant study materials based on courses.
              </p>
              <a [routerLink]="['/admin/time-table']" class="btn btn-primary">Proceed</a>
            </div>
          </div>
        </div>

        <div class="col-6 p-2 mb-4">
          <div class="card text-center" style="width: 18rem">
            <div class="card-body">
              <h5 class="card-title">Upload Announcements</h5>
              <p class="card-text">
                Share announcements with the students.
              </p>
              <a href="#" class="btn btn-primary">Proceed</a>
            </div>
          </div>
        </div>
      </div>
    </div>




  </div>
</div>